<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<div class="cate_regi_input" layout:fragment="content">
    <form method="post" action="/insertCateM" name="frm" id="frm">
        <input type="hidden" id="cateLCode" name="cateLCode"  th:value="${cateLCode}">
        <dl>
            <dt  th:text="#{cate.selectCateL}"></dt>
            <dd>
                <select class="cate_regi_sel" id="cateL" name="cateL">
                </select>
            </dd>
        </dl>
        <dl>
            <dt th:text="#{cateL.cateName}"></dt>
            <dd><input class="cate_name" id="cateMName" name="cateMName"  type="text"></dd>
        </dl>
        <dl>
            <dt th:text="#{cateL.desc}"></dt>
            <dd>
                <textarea id="desc" name="desc" ></textarea>
            </dd>
        </dl>
        <dl class="discnt">
            <dt th:text="#{cateL.discount}"></dt>
            <dd>
                <input class="cate_discnt" id="discount" name="discount" type="text" value="0">
                <p class="perct">%</p>
            </dd>
        </dl>
        <dl>
            <dt th:text="#{cateL.use}"></dt>
            <dd>
                <p class="cate_use_radio">
                    <input id="yes" name="useYN" type="radio" value="Y" checked>
                    <label for="yes">Y</label>
                </p>
                <p class="cate_use_radio">
                    <input id="no" name="useYN" type="radio" value="N">
                    <label for="no">N</label>
                </p>
            </dd>
        </dl>
    <div class="cate_regi_btns">
        <a class="cancel" href="javascript:;" id="btnCancel" th:text="#{cateL.cancel}"></a>
        <a class="regist" href="javascript:;" id="btnReg" th:text="#{cateL.regist}"></a>
    </div>
</form>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/js/cateMReg.js"></script>
</div>
    <!-- pager end -->

</html>