<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<div class="cate_regi_input" layout:fragment="content">
    <form method="post" action="/modifyCateL" name="frm" id="frm">
        <input type="hidden" name="cateLCode" id="cateLCode" th:value="${cateLCode}"/>
        <dl>
            <dt>대분류명</dt>
            <dd><input class="cate_name" id="cateLName" name="cateLName" placeholder="Ex) 악세서리, 잡화, 식품" type="text"></dd>
        </dl>
        <dl>
            <dt>설명</dt>
            <dd>
                <textarea id="desc"  name="desc" placeholder="Ex) 악세서리, 잡화, 식품"></textarea>
            </dd>
        </dl>
        <dl class="discnt">
            <dt>할인율</dt>
            <dd>
                <input class="cate_discnt" id="discount" name="discount" type="text" value="0">
                <p class="perct">%</p>
            </dd>
        </dl>
        <dl>
            <dt>사용여부</dt>
            <dd>
                <p class="cate_use_radio">
                    <input id="useYN1" name="useYN" type="radio" value="Y" checked>
                    <label for="useYN1">Y</label>
                </p>
                <p class="cate_use_radio">
                    <input id="useYN2" name="useYN" type="radio" value="N">
                    <label for="useYN2">N</label>
                </p>
            </dd>
        </dl>
    <div class="cate_regi_btns">
        <a class="cancel" href="javascript:;" id="btnCancel">취소</a>
        <a class="regist" href="javascript:;" id="btnReg">등록</a>
    </div>
</form>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/js/cateLModify.js"></script>
</div>
    <!-- pager end -->

</html>