<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<div class="cate_regi_input" layout:fragment="content">
    <form method="post" action="/modifycateM" name="frm" id="frm">
        <input type="hidden" name="cateMCode" id="cateMCode" th:value="${cateMCode}"/>
        <dl>
            <dt th:text="#{cate.selectCateL}"></dt>
            <dd>
                <select class="cate_regi_sel" id="cateL" name="cateL">
                </select>
            </dd>
        </dl>
        <dl>
            <dt th:text="#{cateL.cateName}"></dt>
            <dd><input class="cate_name" id="cateMName" name="cateMName" type="text"></dd>
        </dl>
        <dl>
            <dt th:text="#{cateL.desc}"></dt>
            <dd>
                <textarea id="desc" name="desc"></textarea>
            </dd>
        </dl>
        <dl class="discnt">
            <dt th:text="#{cateL.discount}"></dt>
            <dd>
                <input class="cate_discnt" id="discount" name="discount" type="text" value="0">
                <p class="perct">%</p>
            </dd>
        </dl>
        <dl>
            <dt th:text="#{cateL.use}"></dt>
            <dd>
                <p class="cate_use_radio">
                    <input id="useYN1" name="useYN" type="radio" value="Y" checked>
                    <label for="useYN1">Y</label>
                </p>
                <p class="cate_use_radio">
                    <input id="useYN2" name="useYN" type="radio" value="N">
                    <label for="useYN2">N</label>
                </p>
            </dd>
        </dl>
    <div class="cate_regi_btns">
        <a class="cancel" href="javascript:;" id="btnCancel" th:text="#{cateL.cancel}"></a>
        <a class="regist" href="javascript:;" id="btnReg" th:text="#{cateL.regist}"></a>
    </div>
</form>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/js/cateMModify.js"></script>
</div>
    <!-- pager end -->

</html>