<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<div class="tbl_wrap" layout:fragment="content">
    <script th:inline="javascript">
        /*<![CDATA[*/
        let modify = /*[[ #{cateL.modify} ]]*/;
        let select = /*[[ #{common.select} ]]*/;
        let connect = /*[[ #{gateway.connect} ]]*/;
        let disconnect = /*[[ #{gateway.disconnect} ]]*/;
        let registed = /*[[ #{gateway.registed} ]]*/;
        let selectDelete = /*[[ #{message.selectDelete} ]]*/;
        let cantDeleteGateway = /*[[ #{message.cantDeleteGateway} ]]*/;
        let checkDelete = /*[[ #{message.checkDelete} ]]*/;
        let deleteSuccess = /*[[ #{message.deleteSuccess} ]]*/;
        let commonError = /*[[ #{message.commonError} ]]*/;

        /*]]*/
    </script>
    <form id="frm" name="frm" method="post">
        <div class="tbl_filter_wrap">
            <div class="right">
                <select class="num_sel" id="pageSize">
                    <option value="10" th:text="#{common.10ea}"></option>
                    <option value="20" th:text="#{common.20ea}"></option>
                    <option value="50" th:text="#{common.50ea}"></option>
                </select>
            </div>
        </div>
        <table>
            <colgroup>
                <col style="width:6%;">
                <col style="width:5%;">
                <col style="width:14%;">
                <col style="width:12%;">
                <col style="width:27%;">
                <col style="width:12%;">
                <col style="width:12%;">
                <col style="width:12%;">
            </colgroup>
            <thead>
            <tr>
                <th>
                    <p class="tbl_chk">
                        <input id="chkAll" name="" type="checkbox">
                        <label for="chkAll" th:text="#{cateL.chkAll}"></label>
                    </p>
                </th>
                <th>no</th>
                <th>ID</th>
                <th th:text="#{cateL.desc}"></th>
                <th th:text="#{gateway.status}"></th>
                <th th:text="#{gateway.location}"></th>
                <th th:text="#{cateL.regdate}"></th>
                <th th:text="#{cateL.status}"></th>
            </tr>
            </thead>
            <tbody id="data">
            </tbody>
        </table>
        <!-- pager -->
        <div class="tbl_bottom">
            <a class="btn_del" href="javascript:;" id="btnDel" th:text="#{cateL.delete}"></a>
            <div class="tbl_pager">
                <a class="btn_prev" id="pageFirst" href="javascript:;" th:text="#{common.forward}"></a>
                <ol id="paging">
                </ol>
                <a class="btn_next"  id="pageLast" href="javascript:;" th:text="#{common.backward}"></a>
            </div>
            <a class="btn_reg" href="javascript:;" id="btnReg" th:text="#{cateL.regist}"></a>
        </div>
    <script type="text/javascript" src="/js/gatewayList.js"></script>
    </form>
</div>

</html>