<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<div class="tbl_wrap" layout:fragment="content">
    <form id="frm" name="frm" method="post">
        <script th:inline="javascript">
            /*<![CDATA[*/
            let modify = /*[[ #{cateL.modify} ]]*/;
            let select = /*[[ #{common.select} ]]*/;
            let noDiscount = /*[[ #{product.nodiscount} ]]*/;
            let commonError = /*[[ #{message.commonError} ]]*/;
            let defaultSelect = /*[[ #{common.defaultSelect} ]]*/;
            let enterProductName = /*[[ #{message.enterProductName} ]]*/;
            let selectDelete = /*[[ #{message.selectDelete} ]]*/;
            let cantdeleteTagProduct = /*[[ #{message.cantdeleteTagProduct} ]]*/;
            let checkDelete = /*[[ #{message.checkDelete} ]]*/;
            let deleteSuccess = /*[[ #{message.deleteSuccess} ]]*/;

            /*]]*/
        </script>
    <div class="tbl_filter_wrap">
        <div class="left">
            <p class="sel_ttl" th:text="#{cate.selectCateL}"></p>
            <select class="cate_sel" id="cateL">
                <option value="0" th:text="#{common.defaultSelect}"></option>
            </select>
            <p class="sel_ttl" th:text="#{cate.selectCateM}"></p>
            <select class="cate_sel" id="cateM">
                <option value="0" th:text="#{common.defaultSelect}"></option>
            </select>
            <p class="sel_ttl" th:text="#{cate.selectCateS}"></p>
            <select class="cate_sel" id="cateS">
                <option value="0" th:text="#{common.defaultSelect}"></option>
            </select>
            <a class="btn_see_all" href="javascript:;" id="btnClear" th:text="#{common.selectAll}"></a>
        </div>
        <div class="right">
            <div class="prod_sub_serach">
                <input id="productName" name=="productName" th:placeholder="#{common.searchProduct}" type="text">
                <input id="btnSearch" name=="btnSearch" type="submit" th:value="#{common.search}">
            </div>
            <select class="num_sel" id="pageSize">
                <option value="10" th:text="#{common.10ea}"></option>
                <option value="20" th:text="#{common.20ea}"></option>
                <option value="50" th:text="#{common.50ea}"></option>
            </select>
        </div>
    </div>
    <table>
        <colgroup>
            <col style="width:6%;">
            <col style="width:5%;">
            <col style="width:11%;">
            <col style="width:13%;">
            <col style="width:7%;">
            <col style="width:14%;">
            <col style="width:9%;">
            <col style="width:11%;">
            <col style="width:12%;">
            <col style="width:12%;">
        </colgroup>
        <thead>
        <tr>
            <th>
                <p class="tbl_chk">
                    <input id="chkAll" name="chkAll" type="checkbox">
                    <label for="chkAll" th:text="#{cateL.chkAll}"></label>
                </p>
            </th>
            <th>no</th>
            <th th:text="#{product.nameTag}"></th>
            <th th:text="#{cateL.desc}"></th>
            <th th:text="#{cateL.discount}"></th>
            <th th:text="#{cateL.discountPeriod}"></th>
            <th th:text="#{product.bundle}"></th>
            <th th:text="#{product.price}"></th>
            <th th:text="#{cateL.regdate}"></th>
            <th th:text="#{cateL.status}"></th>
        </tr>
        </thead>
        <tbody id="data">
        </tbody>
    </table>
    <!-- pager -->
    <div class="tbl_bottom">
        <a class="btn_del" href="javascript:;" id="btnDel" th:text="#{cateL.delete}"></a>
        <div class="tbl_pager">
            <a class="btn_prev" id="pageFirst" href="javascript:;" th:text="#{common.forward}"></a>
            <ol id="paging">
            </ol>
            <a class="btn_next"  id="pageLast" href="javascript:;" th:text="#{common.backward}"></a>
        </div>
<!--        <a class="btn_reg" href="javascript:;" id="btnReg" th:text="#{cateL.regist}"></a>-->
    </div>
    <!-- pager end -->
    <script type="text/javascript" src="/js/productList.js"></script>
    </form>
</div>

</html>