<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<div class="cate_regi_input" layout:fragment="content">
    <script th:inline="javascript">
        /*<![CDATA[*/
        let noTag = /*[[ #{message.noTag} ]]*/;
        let tooManyTags = /*[[ #{message.tooManyTags} ]]*/;
        let commonError = /*[[ #{message.commonError} ]]*/;
        let enterTagCode = /*[[ #{message.enterTagCode} ]]*/;
        let selectItem = /*[[ #{message.selectItem} ]]*/;
        let checkRegistTag = /*[[ #{message.checkRegistTag} ]]*/;
        let regist = /*[[ #{cateL.regist} ]]*/;
        let registSuccess = /*[[ #{message.registSuccess} ]]*/;
        let registFail = /*[[ #{message.registFail} ]]*/;
        let manageTag = /*[[ #{lnb.manageTag} ]]*/;
        let erase = /*[[ #{cateL.delete} ]]*/;
        let deleteSuccess = /*[[ #{message.deleteSuccess} ]]*/;
        let checkDelete = /*[[ #{message.checkDelete} ]]*/;
        let defaultSelect = /*[[ #{common.defaultSelect} ]]*/;
        let enterProductName = /*[[ #{message.enterProductName} ]]*/;
        let enterPrice = /*[[ #{message.enterPrice} ]]*/;
        let noSignal = /*[[ #{tag.noSignal} ]]*/;

        /*]]*/
    </script>
    <!-- 태그 등록 -->
    <div class="layer_pop with_ttl tag_reg" id="tagReg" style="display:none;width:730px">
        <div class="layer_pop_ttl">
            <strong th:text="#{tag.regist}"></strong>
            <a class="layer_close" href="javascript:;" id="btnClose" th:text="#{common.close}"></a>
        </div>
        <div class="reg_tag_list">
            <p class="sel_regd_tag" >
                <span th:text="#{tag.selectTag}"></span>
                <a href="javascript:;" id="btnTagList" th:text="#{tag.list}"></a>
            </p>
            <div class="tag_search">
                <input type="text" id="tagID" name="tagID" th:placeholder="#{tag.searchTag}">
                <input type="submit" id="searchTag" name="searchTag" th:value="#{common.search}">
            </div>
            <ul id="tagList">
            </ul>
        </div>
        <div class="layer_pop_btns">
            <a class="blue regist" href="javascript:;" id="btnRegTag" th:text="#{cateL.regist}"></a>
        </div>
    </div>
    <!-- 태그 등록 end -->
    <form method="post" action="/ProductModify" name="frm" id="frm">
        <input type="hidden" name="productCode" id="productCode" th:value="${productCode}"/>
    <dl class="discnt">
        <dt th:text="#{cateL}"></dt>
        <dd>
            <select class="cate_regi_sel" id="cateL" name="cateL">
<!--                <option>맥주</option>-->
            </select>
        </dd>
    </dl>
    <dl class="discnt">
        <dt th:text="#{cateM}"></dt>
        <dd>
            <select class="cate_regi_sel" id="cateM" name="cateM">
<!--                <option>보리맥주</option>-->
            </select>
        </dd>
    </dl>
    <dl class="discnt">
        <dt th:text="#{cateS}"></dt>
        <dd>
            <select class="cate_regi_sel" id="cateS" name="cateS">
<!--                <option>소분류</option>-->
            </select>
        </dd>
    </dl>
    <dl>
        <dt th:text="#{tag.name}"></dt>
        <dd><input class="cate_name" id="productName" name="productName" placeholder="Ex) Maxx, Hitte" type="text"></dd>
    </dl>
    <dl>
        <dt th:text="#{product.price}"></dt>
        <dd><input class="prod_price" id="price" name="price" placeholder="" type="text"></dd>
    </dl>
    <dl class="discnt">
        <dt th:text="#{cateL.discount}"></dt>
        <dd>
            <input class="cate_discnt" id="discount" name="discount" type="text">
            <p class="perct">%</p>
        </dd>
    </dl>
    <dl class="discnt">
        <dt th:text="#{cateL.discountPeriod}"></dt>
        <dd>
            <input class="cate_discnt" id="saleStart" name="saleStart" type="text">
            <p class="wave">~</p>
            <input class="cate_discnt" id="saleEnd" name="saleEnd" type="text">
        </dd>
    </dl>
    <dl class="discnt">
        <dt th:text="#{product.bundle}"></dt>
        <dd>
            <p class="cate_use_radio">
                <input id="bundle1" name="bundle" type="radio" value="0">
                <label for="bundle1" th:text="#{product.nodiscount}"></label>
            </p>
            <p class="cate_use_radio">
                <input id="bundle2" name="bundle" type="radio" value="1">
                <label for="bundle2">1+1</label>
            </p>
            <p class="cate_use_radio">
                <input id="bundle3" name="bundle" type="radio"  value="2">
                <label for="bundle3">2+1</label>
            </p>
        </dd>
    </dl>

    <dl>
        <dt th:text="#{cateL.desc}"></dt>
        <dd>
            <textarea placeholder="Ex) 200원 / 100g, 1$ / 1ea" id="desc" name="desc"></textarea>
        </dd>
    </dl>
        <div id="data">
        </div>
    <dl class="discnt">
        <dt th:text="#{product.location}"></dt>
        <dd>
            <input class="cate_discnt" id="position" name="position" type="text">
        </dd>
    </dl>
    <div class="cate_regi_btns">
        <a class="cancel" href="javascript:;" id="cancel" th:text="#{cateL.cancel}"></a>
        <a class="regist" href="javascript:;" id="submit" th:text="#{cateL.modify}"></a>
    </div>

    </form>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/js/productView.js"></script>
    <script type="text/javascript" src="/js/tagRegPopUp.js"></script>
</div>
    <!-- pager end -->

</html>