<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<div class="cate_regi_input" layout:fragment="content">
    <form method="post" action="/modifySetting" name="frm" id="frm">
        <div class="set_input_wrap">
            <strong class="set_input_ttl">인디케이터 설정</strong>
            <dl>
                <dt>배터리</dt>
                <dd>
                    <input class="cate_discnt" id="battery" name="battery" type="text">
                    <p class="perct">%</p>
                </dd>
            </dl>
            <dl>
                <dt>신호불량</dt>
                <dd>
                    <input class="cate_discnt" id="signal" name="signal" type="text">
                    <p class="perct">dBm 이하</p>
                </dd>
            </dl>
        </div>
        <div class="cate_regi_btns">
            <a class="regist" href="javascript:;" id="btnReg">저장</a>
        </div>
    </form>

    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/js/setting.js"></script>
</div>
<!-- pager end -->
</html>