<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<div class="tbl_wrap" layout:fragment="content">
    <script th:inline="javascript">
        /*<![CDATA[*/
        let defaultSelect = /*[[ #{common.defaultSelect} ]]*/;
        let commonError = /*[[ #{message.commonError} ]]*/;
        let select = /*[[ #{common.select} ]]*/;
        let connect = /*[[ #{tag.connect} ]]*/;
        let disconnect = /*[[ #{tag.disconnect} ]]*/;
        let use = /*[[ #{tag.use} ]]*/;
        let unuse = /*[[ #{tag.unuse} ]]*/;
        let modify = /*[[ #{cateL.modify} ]]*/;
        let selectGateway = /*[[ #{gateway.selectGateway} ]]*/;
        let selectDelete = /*[[ #{message.selectDelete} ]]*/;
        let checkDelete = /*[[ #{message.checkDelete} ]]*/;
        let deleteSuccess = /*[[ #{message.deleteSuccess} ]]*/;


        /*]]*/
    </script>
    <form id="frm" name="frm" method="get">
        <input type="hidden" name="param" id="param" value=""/>
        <input type="hidden" name="isCall" id="isCall" value=""/>
        <input type="hidden" name="signalStat" id="signalStat" value=""/>
        <input type="hidden" name="batteryStat" id="batteryStat" value=""/>
        <input type="hidden" name="curGatewayCode" id="curGatewayCode" th:value="${gatewayCode}"/>
            <div class="tag_filter_wrap">
                <div class="left">
<!--                    <strong>게이트웨이</strong>-->
                    <strong th:text="#{gateway}"></strong>
                    <select id="gatewayCode" name="gatewayCode">
                    </select>
                </div>
                <div class="right">
                    <div class="stat_card green"  id="allBtn">
                        <p th:text="#{tag.all}"></p>
                        <span>
                            <strong id="countAll">1</strong>
                            <span th:text="#{common.quantity}"></span>
                        </span>
                    </div>
                    <div class="stat_card blue"  id="batteryBtn">
                        <p th:text="#{tag.batteryOut}"></p>
                        <span>
                            <strong id="countBattery">1</strong>
                            <span th:text="#{common.quantity}"></span>
                        </span>
                    </div>
                    <div class="stat_card red" id="signalBtn">
                        <p th:text="#{tag.signalOut}"></p>
                        <span>
                            <strong id="countSignal">1</strong>
                            <span th:text="#{common.quantity}"></span>
                        </span>
                    </div>
                    <div class="stat_card yellow" id="callBtn">
                        <p th:text="#{tag.call}"></p>
                        <span>
                            <strong id="countCall">4</strong>
                            <span th:text="#{common.quantity}"></span>
                        </span>
                    </div>
                    <select class="num_sel" id="pageSize" name="pageSize">
                        <option value="10" th:selected="${pageSize} == '10'" th:text="#{common.10ea}"></option>
                        <option value="20" th:selected="${pageSize} == '20'" th:text="#{common.20ea}"></option>
                        <option value="50" th:selected="${pageSize} == '50'" th:text="#{common.50ea}"></option>
                    </select>
                </div>
            </div>
            <table>
                <colgroup>
                    <col style="width:6%;">
                    <col style="width:7%;">
                    <col style="width:8%;">
                    <col style="width:6%;">
                    <col style="width:11%;">
                    <col style="width:8%;">
                    <col style="width:9%;">
                    <col style="width:10%;">
                    <col style="width:5%;">
                    <col style="width:10%;">
                    <col style="width:10%;">
                    <col style="width:10%;">
                </colgroup>
                <thead>
                <tr>
                    <th>
                        <p class="tbl_chk">
                            <input id="chkAll" name="chkAll" type="checkbox">
                            <label for="chkAll" th:text="#{cateL.chkAll}"></label>
                        </p>
                    </th>
                    <th th:text="#{tag.name}"></th>
                    <th th:text="#{cateL.cateName}"></th>
                    <th th:text="#{tag.code}"></th>
                    <th th:text="#{tag.gateway}"></th>
                    <th th:text="#{tag.batterStatus}"></th>
                    <th th:text="#{tag.connection}"></th>
                    <th th:text="#{tag.signal}"></th>
                    <th th:text="#{tag.isCall}"></th>
                    <th th:text="#{tag.isSync}"></th>
                    <th th:text="#{cateL.regdate}"></th>
                    <th th:text="#{cateL.status}"></th>
                </tr>
                </thead>
                <tbody id="data">
                    <!-- 예시 -->
<!--                    <tr>-->
<!--                        <td>-->
<!--                            <p class="tbl_chk">-->
<!--                                <input id="chk1" name="" type="checkbox">-->
<!--                                <label for="chk1">선택</label>-->
<!--                            </p>-->
<!--                        </td>-->
<!--                        <td>Hitte</td>-->
<!--                        <td>주류</td>-->
<!--                        <td>a1234</td>-->
<!--                        <td class="blue">a1234</td>-->
<!--                        <td><p class="regi_stat green"><strong>78</strong>%</p></td>-->
<!--                        <td><p class="regi_stat green">정상연결</p></td>-->
<!--                        <td><p class="regi_stat red">-60 dBm</p></td>-->
<!--                        <td><i class="use_stat yes">사용</i></td>-->
<!--                        <td><i class="use_stat no">미사용</i></td>-->
<!--                        <td>2021.09.30</td>-->
<!--                        <td><a class="tbl_squr_btn" href="javascript:;">수정</a></td>-->
<!--                    </tr>-->
                    <!-- 예시 종료 -->
                </tbody>
            </table>
            <!-- pager -->
            <div class="tbl_bottom">
                <a class="btn_del" href="javascript:;" id="btnDel" th:text="#{cateL.delete}"></a>
                <div class="tbl_pager">
                    <a class="btn_prev" id="pageFirst" href="javascript:;" th:text="#{common.forward}"></a>
                    <ol id="paging">
                    </ol>
                    <a class="btn_next" id="pageLast" href="javascript:;" th:text="#{common.backward}"></a>
                </div>
                <a class="btn_reg" href="javascript:;" id="btnReg" th:text="#{cateL.regist}"></a>
            </div>
            <script type="text/javascript" src="/js/tagList.js"></script>
    </form>
</div>

</html>