<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<div class="cate_regi_input" layout:fragment="content">
    <script th:inline="javascript">
        /*<![CDATA[*/
        let commonError = /*[[ #{message.commonError} ]]*/;
        let defaultSelect = /*[[ #{common.defaultSelect} ]]*/;
        let enterTagCode = /*[[ #{message.enterTagCode} ]]*/;
        let registSuccess = /*[[ #{message.registSuccess} ]]*/;
        let registFail = /*[[ #{message.registFail} ]]*/;

        /*]]*/
    </script>
    <form method="post" action="/modifyTag" name="frm" id="frm">
        <input type="hidden" id="gatewayCode" name="gatewayCode" th:value="${gatewayCode}">
        <dl>
            <dt th:text="#{tag.code}"></dt>
            <dd><input class="cate_code" id="tagID" name="tagID"  type="text" value=""></dd>
        </dl>
        <dl>
            <dt th:text="#{tag.gateway}"></dt>
            <dd><input class="cate_code" id="gatewayID" name="gatewayID" readonly="readonly" type="text"></dd>
        </dl>
        <dl>
            <dt th:text="#{cateL.desc}"></dt>
            <dd>
                <textarea th:placeholder="#{tag.desc}" id="desc" name="desc"></textarea>
            </dd>
        </dl>
        <dl class="discnt">
            <dt th:text="#{tag.type}"></dt>
            <dd>
                <p class="cate_use_radio">
                    <input id="type1" name="templateCode" type="radio" value="1" checked>
                    <label for="type1" th:text="#{tag.type1}"></label>
                </p>
                <p class="cate_use_radio">
                    <input id="type2" name="templateCode" type="radio" value="2">
                    <label for="type2" th:text="#{tag.type2}"></label>
                </p>
                <p class="cate_use_radio">
                    <input id="type3" name="templateCode" type="radio" value="3">
                    <label for="type3" th:text="#{tag.type3}"></label>
                </p>
            </dd>
        </dl>
        <dl class="discnt">
            <dt th:text="#{product.select}"></dt>
            <dd>
                <select class="cate_regi_sel" id="cateL" name="cateL">
                    <option th:text="#{cateL}"></option>
                </select>
                <select class="cate_regi_sel" id="cateM" name="cateM">
                    <option th:text="#{cateM}"></option>
                </select>
                <select class="cate_regi_sel" id="cateS" name="cateS">
                    <option th:text="#{cateS}"></option>
                </select>
                <select class="cate_regi_sel" id="productCode" name="productCode">
                    <option value="0" th:text="#{product}"></option>
                </select>
            </dd>
        </dl>
        <div class="cate_regi_btns">
            <a class="cancel" href="javascript:;" id="btnCancel" th:text="#{cateL.cancel}"></a>
            <a class="regist" href="javascript:;" id="btnReg" th:text="#{cateL.regist}"></a>
        </div>
    </form>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/js/tagReg.js"></script>
</div>
<!-- pager end -->

</html>